//Css information for tribute page.html
  body { background-image: url("jester.jpg");
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;}
.box {position: center; text-align: center; color:white; font-family: monospace; background-color: black;
 border-color:white; border-style: solid; border-width:1px;}
 #image{ max-width: 100%;
  height: auto;}