//Css information for tribute page.html
body { background-image: url("jester.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}
 #box {justify-items: center; color:white; font-family: monospace; background-color: black; opacity: 75%;
 border-color:white; border-style: solid; border-width:1px;
 margin: 100px;}